{% extends "layout.html.twig" %}
{% block title %}Home{% endblock %}
{% block body %}

<div id="page">
  <div class="header hidden-md hidden-lg">
    <a href="#menu"><span></span></a>
  </div>

  <main>
    <section class="slider_banner">
      <div class="banner__bg">
          <div class="banner__content">
            <h2>Welcome to Pink</h2>
            <p>A multi purpose theme from cssauthor.com</p>
          </div>
      </div>
      <div class="banner__bg">
          <div class="banner__content">
            <h2>Welcome to Pink</h2>
            <p>A multi purpose theme from cssauthor.com</p>
          </div>
      </div>
    </section>
    <section class="content_site">
      <div class="container">
          <h3 class="text-center">Lorem Ipsum is simply dummy</h3>
          <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
          <div class="row slider_responsive">
              <div class="col-sm-6 col-md-3">
                  <div class="circle circle--light-blue">
                      <img src="/img/icon-tickets.png">
                      <span>Tickets</span>
                      <p class="hidden-xs hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="circle circle--light-green">
                      <img src="/img/icon-camera.png">
                      <span>Camera</span>
                      <p class="hidden-xs hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="circle circle--red">
                      <img src="/img/icon-beer.png">
                      <span>Beer</span>
                      <p class="hidden-xs hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
              </div>
              <div class="col-sm-6 col-md-3">
                  <div class="circle circle--orange">
                      <img src="/img/icon-devices.png">
                      <span>Devices</span>
                      <p class="hidden-xs hidden-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <section class="articles">
        <div class="container">
          <article class="row">
            <div class="col-sm-4 col-md-3">
              <img src="/img/article-1.jpg">
            </div>
            <div class="col-sm-8 col-md-9">
              <h4>Lorem ipsum is simply</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </article>
          <article class="row">
            <div class="col-sm-4 col-md-3">
              <img src="/img/article-1.jpg">
            </div>
            <div class="col-sm-8 col-md-9">
              <h4>Lorem ipsum is simply</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </article>
          <article class="row">
            <div class="col-sm-4 col-md-3">
              <img src="/img/article-1.jpg">
            </div>
            <div class="col-sm-8 col-md-9">
              <h4>Lorem ipsum is simply</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
          </article>
        </div>
      </section>
    </main>
</div>


{% endblock %}
